.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

#event-table {
  margin-top: 20px;
  width: 70%;
}

#event-table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

#event-table tr {
  height: 20px;
}

#event-table tr:nth-child(odd) {
  background-color: rgb(232, 232, 232);
}

#event-head-row th {
  background-color: white;
  text-align: left;
}

#new-event-btn {
  color: whitesmoke;
  background-color: #6c757b;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 0;
  border-color: transparent;
  width: 120px;
  height: 28px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-weight: 600;
}

#day-select {
  height: 25px;
  width: 120px;
  font-size: medium;
  margin-top: 10px;
}

#cancel-btn {
  color: white;
  border-color: transparent;
  background-color: #6c757b;
  border-radius: 5px;
}

#confirm-btn {
  color: white;
  background-color: #198755;
  border-radius: 5px;
  border-color: transparent;
}

.space-around {
  justify-content: space-around;
}

#event-textarea {
  height: 150px;
  margin-bottom: 10px;
}

#new-event-day-select {
  margin-bottom: 10px;
}

#time-select {
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
}

.delete-button {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: transparent;
}

.edit-button {
  background-color: #47a4d6;
  color: white;
  border-radius: 5px;
  border: transparent;
}

td {
  padding-top: 10px;
}
